{% extends "layout.html" %}

{% block title %}고객 목록{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block sidebar %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="/customer_list/">고객 목록</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <!-- flash message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="page-header">고객 목록</h1>
        <div class="row placeholders">
            <form method="post">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="150px;">
                        <col>
                    </colgroup>

                    <tbody>
                        <tr>
                            <th class="active text-center">
                                <label for="store">매장</label>
                            </th>
                            <td>
                                <select class="form-control" id="store" name="store">
                                    <option value="">전체</option>
                                    {% for store in stores %}
                                        <option value="{{ store.id }}" {% if store.id == search.store %} selected="selected" {% endif %}>{{ store.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="active text-center"><label for="fromDate">검색기간</label></th>
                            <td class="date_wrap">
                                <input type="text" id="fromDate" name="start_date" class="datepicker" value="{{ search.start_date }}" /> ~ <input type="text" id="toDate" class="datepicker" name="end_date" value="{{ search.end_date }}" />
                            </td>
                        </tr>
                        <tr>
                            <th class="active text-center">
                                <label for="store">페이지 줄 수</label>
                            </th>
                            <td>
                                <select class="form-control" id="row_block" name="row_block">
                                    {% for row_count in row_block_list %}
                                        <option value="{{ row_count }}" {% if row_count == search.row_block %} selected="selected" {% endif %}>{{ row_count }}개</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center">
                    <button type="submit" class="btn btn-primary">검색</button>
                </p>
            </form>
        </div>

        {% if retention > 0 %}
            <h2 class="sub-header">매장 통계</h2>
            <table class="table table-bordered">
                <colgroup>
                    <col width="150px;">
                    <col>
                    <tbody>
                        <tr>
                            <th class="active text-center">
                                <label for="store">재방문율</label>
                            </th>
                            <td>{{ retention }}%</td>
                        </tr>
                        <tr>
                            <th class="active text-center">
                                <label for="store">기간 내 방문자</label>
                            </th>
                            <td>{{ order_count }}명</td>
                        </tr>
                    </tbody>
                </colgroup>
            </table>
        {% endif %}

        <h2 class="sub-header">고객 목록</h2>

        <p>{{ count }}건의 검색결과가 있습니다.</p>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>고유키</th>
                        <th>이름</th>
                        <th>성별</th>
                        <th>나이</th>
                        <th>연령대</th>
                        <th>휴대전화번호</th>
                        <th>생년월일</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ loop.index + pagination.skip }}</td>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.gender }}</td>
                            <td>{{ user.age }}</td>
                            <td>{{ user.ages }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.birthdate }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ pagination.link }}
        </div>
    </div>
{% endblock %}