<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='css/dashboard.css') }}" rel="stylesheet">
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">


        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/customer_list/">CMS</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/customer_list/">고객목록</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        <div class="container-fluid">
            <div class="row">
                {% block sidebar %}{% endblock %}

                {% block content %}{% endblock %}
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(function() {
                    var dates = $(".datepicker").datepicker({
                        showOn : "both",
                        buttonImageOnly : true,
                        showOptions : {
                            direction : 'horizontal'
                        },
                        buttonImage : "{{ url_for('static',filename='images/ico_cal.gif') }}",
                        buttonImageOnly : true,
                        buttonText : "Select date",
                        dateFormat : 'yy-mm-dd',
                        prevText : '이전 달',
                        nextText : '다음 달',
                        monthNames : [ '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월' ],
                        monthNamesShort : [ '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월' ],
                        dayNames : [ '일', '월', '화', '수', '목', '금', '토' ],
                        dayNamesShort : [ '일', '월', '화', '수', '목', '금', '토' ],
                        dayNamesMin : [ '일', '월', '화', '수', '목', '금', '토' ],
                        showOtherMonths : true,
                        showMonthAfterYear : true,
                        yearSuffix : '년',
                        closeText : '닫기',
                        showButtonPanel : true,

                        onSelect : function(selectedDate) {
                            var option = "";
                            var instance = "";

                            if (this.id == "fromDate") {
                                option = this.id == "fromDate" ? "minDate" : "maxDate";
                            } else {
                                return;
                            }
                            option, instance = $(this).data("datepicker"), date = $.datepicker.parseDate(instance.settings.dateFormat
                                    || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                            dates.not(this).datepicker("option", option, date);
                        }
                    });
                    $(".ui-datepicker-trigger").css("vertical-align", "middle");
                });

                if($(".alert").length > 0){
                    $(".alert").fadeTo(2000, 500).slideUp(500, function(){
                        $(".alert").slideUp(500);
                    });
                }
            });
</script>

    </body>
</html>